@charset "UTF-8";
.container {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}

.top-section, .mid-section, .foot-section {
  width: 100%;
}

ul {
  display: block;
  margin-top: 0;
}

li {
  list-style: none;
}

@font-face {
  font-family: "SFUIDisplay-Bold";
  src: url("../fonts/SFUIDisplay-Bold.otf");
}
@font-face {
  font-family: SF-UI-Display-Regular;
  src: url("../fonts/SF-UI-Display-Regular.otf");
}
@font-face {
  font-family: merriweather-bold;
  src: url("../fonts/merriweather-bold.ttf");
}
@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
.foot__nav li {
  display: block;
  float: right;
  margin-right: 40px;
}
.foot__nav .nav__link {
  text-decoration: none;
  font-family: Roboto-Bold;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.302);
}
.foot__nav .current-page {
  text-decoration-line: underline;
  text-decoration-color: #ffc107;
  text-decoration-style: wavy;
  color: #ffc107;
}

.foot__rights {
  font-family: Roboto-Regular;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.302);
}
.foot__rights p {
  margin: 0;
}

.foot__opt p {
  float: left;
  font-family: Roboto-Bold;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.302);
  margin: 0 0 0 10px;
}
.foot__opt .phone {
  color: #ffffff;
}

.foot-section {
  height: 100px;
  background: url("../img/foot-b.png") #764bc2;
  background-position: center;
}

.foot-section__content {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.about__left {
  float: left;
  height: 100%;
  width: 50%;
}

.about__right {
  float: right;
  height: 100%;
  width: 50%;
  font-size: 14p;
}

.about-text-left {
  padding-right: 14px;
  line-height: 72px;
  font-family: merriweather-bold;
  color: #764bc2;
  font-size: 72px;
  font-weight: bold;
}

.about-text-right {
  padding-left: 14px;
  padding-top: 20px;
  font-family: SF-UI-Display-Regular;
  color: #757575;
}

.mid-section__about {
  height: 220px;
  padding-top: 88px;
}

.about-text {
  margin: 0;
}

.name {
  color: #e3574e;
}

.adv-item {
  height: 100%;
  font-family: SFUIDisplay-Bold;
  text-transform: uppercase;
  font-size: 12px;
  color: #757575;
  width: 150px;
}

.mid-section__advantages-items {
  width: 100%;
  height: 154px;
  margin: auto 0;
  display: flex;
  justify-content: center;
}

.adv-item__img {
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  height: 50%;
  background-position-x: center;
  background-position-y: bottom;
}

.adv-item__img-1 {
  background-image: url("../img/first.svg");
}

.adv-item__img-2 {
  background-image: url("../img/second.svg");
}

.adv-item__img-3 {
  background-image: url("../img/third.svg");
}

.adv-item__img-4 {
  background-image: url("../img/fourth.svg");
}

.adv-item__img-5 {
  background-image: url("../img/fivth.svg");
}

.adv-item__img-6 {
  background-image: url("../img/sixth.svg");
}

.adv-item__text {
  text-align: center;
}

.mid-section__advantages {
  width: 100%;
  height: 284px;
  margin-top: 100px;
  background: url("../img/Wave.png"), url("../img/Wave.png");
  background-repeat: no-repeat;
  background-position: center top, center bottom;
  display: flex;
}

.catalog__header-text {
  text-align: center;
  font-family: merriweather-bold;
  color: #e3574e;
  font-size: 72px;
  font-weight: bold;
}

.catalog__list {
  height: 110px;
  display: flex;
}

.catalog-item {
  flex-grow: 1;
}
.catalog-item input {
  display: none;
}

.white-arrow {
  background-image: url("../img/white_arr.svg");
  width: 100%;
  height: 36px;
  background-repeat: no-repeat;
  display: none;
  background-position-x: center;
  background-position-y: 10px;
}

.box, .bag, .phoneholder, .wallet, .toy, .cup, .charm, .colour, .scrapbooking {
  height: 94px;
  position: relative;
  border-radius: 5px;
}

.catalog__item-number {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  font-family: SF-UI-Display-Regular;
  color: #ffffff;
  font-size: 9px;
}

.box {
  background-color: #9c27b0;
}

.bag {
  background-color: #03a9f4;
}

.phoneholder {
  background-color: #ffc107;
}

.wallet {
  background-color: #e91e63;
}

.toy {
  background-color: #8bc34a;
}

.cup {
  background-color: #009688;
}

.charm {
  background-color: #8597a0;
}

.colour {
  background-color: #3f51b5;
}

.scrapbooking {
  background-color: #ff5722;
}

.box > label > .catalog__item-img {
  background-image: url("../img/box.svg");
}

.bag > label > .catalog__item-img {
  background-image: url("../img/bag.svg");
}

.phoneholder > label > .catalog__item-img {
  background-image: url("../img/phoneholder.svg");
}

.wallet > label > .catalog__item-img {
  background-image: url("../img/wallet.svg");
}

.toy > label > .catalog__item-img {
  background-image: url("../img/toy.svg");
}

.cup > label > .catalog__item-img {
  background-image: url("../img/cup.svg");
}

.charm > label > .catalog__item-img {
  background-image: url("../img/charm.svg");
}

.colour > label > .catalog__item-img {
  background-image: url("../img/colour.svg");
}

.scrapbooking > label > .catalog__item-img {
  background-image: url("../img/scrapbooking.svg");
}

.catalog__item-img {
  height: 50px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.catalog__item-text {
  font-family: SF-UI-Display-Regular;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin: 6px auto auto auto;
  width: 100px;
}

.catalog-item > input:checked + div {
  height: 114px;
}
.catalog-item > input:checked + div .white-arrow {
  display: block;
}

.mid-section__catalog {
  height: 100%;
}

.type__property {
  flex-grow: 1;
}

.property__buttons {
  margin-top: 20px;
}

.property__buttons > label {
  font-family: SF-UI-Display-Regular;
  color: #757575;
  font-size: 14px;
  margin-right: 20px;
}

.property__buttons > label:before {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #d7d7d7;
  background-color: white;
  color: white;
  content: "✔";
  margin-right: 10px;
  padding-right: 4px;
  padding-left: 4px;
  transition: 0.2s;
}

input[type=checkbox]:checked + label:before {
  background-color: #764bc2;
}

.property__buttons > input {
  display: none;
}

.property__header {
  font-family: SFUIDisplay-Bold;
  text-transform: uppercase;
  font-size: 16px;
  color: #764bc2;
}

.mid-section__type {
  display: flex;
  justify-content: center;
  margin-top: 52px;
}

.production-items {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: space-between;
  margin-top: 60px;
}

.production-items__item {
  height: 100%;
  width: 270px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.14);
}

.item__image {
  width: 100%;
  height: 65%;
  background: url("../img/itm_bag.png") no-repeat;
  background-position-x: center;
  background-position-y: 20px;
}

.item__text {
  width: 100%;
  text-align: center;
}

.item__text-header {
  font-family: merriweather-bold;
  color: #764bc2;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item__text-desc {
  font-family: SF-UI-Display-Regular;
  color: #757575;
  font-size: 16px;
  margin-top: 0;
}

.item__colours {
  background: url("../img/item-line.svg") no-repeat;
  background-position: center top;
  display: flex;
  justify-content: left;
  margin: 10px 20px;
  padding-top: 10px;
}
.item__colours input {
  display: none;
}

.item-colours {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin: 4px;
}

.big-circle {
  display: none;
}

input:checked + svg .big-circle {
  display: block;
}

.production-items__item:hover {
  box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.3);
}

.production-list {
  width: 100%;
  margin: 50px auto 80px auto;
  height: 64px;
  display: flex;
}
.production-list > .button-arrow {
  width: 64px;
  height: 64px;
}
.production-list > .button-arrow:hover {
  box-shadow: 0px 10px 15px 0px rgba(118, 75, 194, 0.8);
}
.production-list > .button-arrow:active {
  background-color: #9c64ff;
  box-shadow: 0px 10px 15px 0px rgba(118, 75, 194, 0.8);
}
.production-list > .button-arrow:focus {
  border: none;
}

.list__left {
  float: left;
  background: url("../img/left-arrow-list.svg") no-repeat #764bc2 center;
  border-radius: 8px 0 0 8px;
}

.list__right {
  float: right;
  background: url("../img/right-arrow-list.svg") no-repeat #764bc2 center;
  border-radius: 0 8px 8px 0;
}

.production-list__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.production-list__list .it-1 {
  background: #ffffff url("../img/it-1.png") no-repeat center;
}
.production-list__list .it-2 {
  background: #ffffff url("../img/it-2.png") no-repeat center;
}
.production-list__list .it-3 {
  background: #ffffff url("../img/it-1.png") no-repeat center;
}
.production-list__list .it-4 {
  background: #ffffff url("../img/it-2.png") no-repeat center;
}
.production-list__list .it-5 {
  background: #ffffff url("../img/it-1.png") no-repeat center;
}
.production-list__list .it-6 {
  background: #ffffff url("../img/it-2.png") no-repeat center;
}
.production-list__list .it-7 {
  background: #ffffff url("../img/it-1.png") no-repeat center;
}
.production-list__list .it-8 {
  background: #ffffff url("../img/it-2.png") no-repeat center;
}
.production-list__list .it-9 {
  background: #ffffff url("../img/it-1.png") no-repeat center;
}
.production-list__list .it-10 {
  background: #ffffff url("../img/it-2.png") no-repeat center;
}
.production-list__list .it-11 {
  background: #ffffff url("../img/it-1.png") no-repeat center;
}
.production-list__list .it-12 {
  background: #ffffff url("../img/it-2.png") no-repeat center;
}
.production-list__list .it-13 {
  background: #ffffff url("../img/it-1.png") no-repeat center;
}
.production-list__list .it-14 {
  background: #ffffff url("../img/it-2.png") no-repeat center;
}
.production-list__list .it-15 {
  background: #ffffff url("../img/it-1.png") no-repeat center;
}
.production-list__list .it-16 {
  background: #ffffff url("../img/it-2.png") no-repeat center;
}

.list__item {
  width: 64px;
  height: 100%;
  outline: 1px solid #e0e0e0;
}

.mid-section {
  background: #f9f7fb;
  background-image: url("../img/mid-b.png"), url("../img/mid-b-r.png");
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
}

.header-menu {
  float: left;
}
.header-menu li {
  display: block;
  float: right;
  margin-right: 42px;
  margin-top: 42px;
}

.header-menu__link {
  text-decoration: none;
  color: #ffc7bf;
  font-size: 19px;
  font-family: SFUIDisplay-Bold;
}

.current-page {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #764bc2;
  color: #764bc2;
}

.header-logo {
  background: url("../img/logotype.png") no-repeat center;
  width: 170px;
  height: 50px;
  margin: 0 auto;
  padding-top: 42px;
}

.header-opt {
  float: right;
  padding-top: 42px;
}
.header-opt p {
  font-size: 19px;
  font-family: SFUIDisplay-Bold;
  color: #ffc7bf;
  margin: 0;
}

.arrow {
  width: 104px;
  height: 158px;
  margin-top: 384px;
  display: block;
}

.left {
  float: left;
  background: url("../img/leftarrow.png") no-repeat left center;
}

.right {
  float: right;
  background: url("../img/rightarrow.png") no-repeat left center;
}

.left:hover, .right:hover {
  filter: drop-shadow(10px 10px 12px red) saturate(5);
}

.top-section {
  width: 100%;
  height: 900px;
  background: radial-gradient(ellipse, #ffaa5e, #e3574e);
}

.top-section__image {
  width: 1200px;
  height: 900px;
  background: url("../img/logo.png") no-repeat center;
}

/*# sourceMappingURL=style.css.map */
