.container  {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}
.top-section,.mid-section , .foot-section {
    width:100%;
}
ul{
    display: block;
    margin-top:0;
}
li{
    list-style: none;
}