.catalog__list {
    height: 110px;
    display: flex;
}
.catalog-item {
    flex-grow:1;
    //background-color: rgb(156, 39, 176);     
    input {
        display: none;
    }
}
.white-arrow {
    background-image: url("../img/white_arr.svg");
    width:100%;
    height:36px;
    background-repeat: no-repeat;
    display:none;
    background-position-x: center;
    background-position-y: 10px;
}
.box , .bag , .phoneholder, .wallet, .toy, .cup, .charm, .colour , .scrapbooking {
    height: 94px;
    position: relative;
    border-radius: 5px;
}
.catalog__item-number {
    position: absolute;
    top:0;
    right:0;
    margin:5px;
    @include common-text(9px,$wh);
}
.box{
    background-color: #9c27b0;
}
.bag {
    background-color: #03a9f4;
}
.phoneholder {
    background-color: #ffc107;
}
.wallet {
    background-color: #e91e63;
}
.toy {
    background-color:#8bc34a;
}
.cup {
    background-color: #009688;
}
.charm {
    background-color: #8597a0;
}
.colour {
    background-color: #3f51b5;
}
.scrapbooking {
    background-color: #ff5722;
}
.box > label > .catalog__item-img {
    background-image : url("../img/box.svg") ;
}
.bag > label > .catalog__item-img {
    background-image : url("../img/bag.svg") ;
}
.phoneholder > label > .catalog__item-img {
    background-image : url("../img/phoneholder.svg") ;
}
.wallet > label > .catalog__item-img {
    background-image : url("../img/wallet.svg") ;
}
.toy > label > .catalog__item-img {
    background-image : url("../img/toy.svg") ;
}
.cup > label > .catalog__item-img {
    background-image : url("../img/cup.svg") ;
}
.charm > label > .catalog__item-img {
    background-image : url("../img/charm.svg") ;
}

.colour > label > .catalog__item-img {
    background-image : url("../img/colour.svg") ;
}

.scrapbooking > label > .catalog__item-img {
    background-image : url("../img/scrapbooking.svg") ;
}

.catalog__item-img {
    height:50px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}
.catalog__item-text {
    @include common-text(14px,$wh);
    text-align: center;
    margin: 6px auto auto auto;
    width: 100px;
}
 .catalog-item > input:checked + div {
     height:114px;
     .white-arrow {
        display: block;
     }
 }