@font-face {
    font-family: "SFUIDisplay-Bold";
    src: url("../fonts/SFUIDisplay-Bold.otf");
}
@font-face {
    font-family: SF-UI-Display-Regular;
    src: url("../fonts/SF-UI-Display-Regular.otf");
}
@font-face {
    font-family: merriweather-bold;
    src : url("../fonts/merriweather-bold.ttf");
}
@font-face {
    font-family : Roboto-Regular;
    src : url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Bold; 
    src : url("../fonts/Roboto-Bold.ttf");
}
$commonB : SFUIDisplay-Bold;
$common-text-colour : #757575;
$violet : #764bc2;
$orange : #e3574e;
$wh : #ffffff;
$foot : rgba(255, 255, 255, 0.302);
$yellow : #ffc107;
@mixin common-header($size , $colour) {
    font-family: merriweather-bold;
    color:$colour;
    font-size: $size;
    font-weight: bold;
}
@mixin common-text($size , $colour) {
    font-family: SF-UI-Display-Regular;
    color:$colour;
    font-size: $size;
}
@mixin common-name($size  , $colour) {
    font-family: $commonB;
    text-transform: uppercase;
    font-size: $size;
    color : $colour;
}
@mixin common-foot-header() {
    font-family: Roboto-Bold;
    font-size : 18px;
    color:$foot;
}
@mixin common-foot-text() {
    font-family:Roboto-Regular;
    font-size:12px;
    color:$foot;
}