@import "foot__nav.scss";
@import "foot__rights.scss";
@import "foot__opt.scss";
.foot-section{
    height: 100px;
    background: url("../img/foot-b.png") #764bc2;
    background-position: center;
}
.foot-section__content {
    padding-top:40px;
    display: flex;
    justify-content: space-between;
    align-content: center; 

}