.foot__nav {
    li {
        display: block;
        float : right;
        margin-right:40px;
    }
    .nav__link {
        text-decoration: none;
        @include common-foot-header();   
    
    }
    .current-page {
        text-decoration-line: underline;
        text-decoration-color: $yellow;
        text-decoration-style: wavy;
        color : $yellow;
    }  
}

