@import "mid__about.scss";
@import "mid__advantages.scss";
@import "mid__catalog.scss";
@import "mid__type.scss";
@import "mid_production.scss";
.mid-section{
    background: #f9f7fb;
    background-image: url("../img/mid-b.png") , url("../img/mid-b-r.png") ;
    background-position: left , right;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
}