@import "mid__advantages-card.scss";
.mid-section__advantages {
    width: 100%;
    height: 284px;
    margin-top: 100px;
    background: url("../img/Wave.png"),url("../img/Wave.png");
    background-repeat: no-repeat;
    background-position: center top, center bottom;
    display: flex;
}