.about__left {
    float: left;

    height: 100%; width:50%;
}
.about__right {
    float: right;
    height:100%; width:50%;
    font-size:14p
}
.about-text-left {
    padding-right: 14px;
    line-height: 72px;
    @include common-header (72px , $violet);
}
.about-text-right {
    padding-left:14px; 
    padding-top:20px;
    font-family: SF-UI-Display-Regular;
    color: $common-text-colour;
  } 
.mid-section__about {
    height:220px;
    padding-top: 88px;
}
.about-text{
    margin: 0;
}
.name {    
   color: $orange;
}