.production-list {

    width:100%;
    margin: 50px auto 80px auto;
    height: 64px;
    display: flex;
    &>.button-arrow {
        width : 64px;
        height: 64px;
        &:hover {
            box-shadow: 0px 10px 15px 0px rgba(118, 75, 194, 0.8);              
        }
        &:active {
            background-color: rgb(156, 100, 255);
            box-shadow: 0px 10px 15px 0px rgba(118, 75, 194, 0.8);
        }
        &:focus { 
            border: none;
        }
    }
}
.list__left {    
    float:left;
    background :  url("../img/left-arrow-list.svg") no-repeat $violet center ;
    border-radius: 8px 0 0 8px;      
}
.list__right {    
    float:right;
    background: url("../img/right-arrow-list.svg") no-repeat $violet center;
    border-radius: 0 8px 8px 0;
}
.production-list__list {
    display:flex;
    justify-content: space-between;
    width:100%;
    .it-1 { background : $wh url("../img/it-1.png") no-repeat center; }
    .it-2 { background : $wh url("../img/it-2.png") no-repeat center; }
    .it-3 { background : $wh url("../img/it-1.png") no-repeat center; }
    .it-4 { background : $wh url("../img/it-2.png") no-repeat center; }
    .it-5 { background : $wh url("../img/it-1.png") no-repeat center; }
    .it-6 { background : $wh url("../img/it-2.png") no-repeat center; }
    .it-7 { background : $wh url("../img/it-1.png") no-repeat center; }
    .it-8 { background : $wh url("../img/it-2.png") no-repeat center; }
    .it-9 { background : $wh url("../img/it-1.png") no-repeat center; }
    .it-10 { background : $wh url("../img/it-2.png") no-repeat center; }
    .it-11 { background : $wh url("../img/it-1.png") no-repeat center; }
    .it-12 { background : $wh url("../img/it-2.png") no-repeat center; }
    .it-13 { background : $wh url("../img/it-1.png") no-repeat center; }
    .it-14 { background : $wh url("../img/it-2.png") no-repeat center; }
    .it-15 { background : $wh url("../img/it-1.png") no-repeat center; }
    .it-16 { background : $wh url("../img/it-2.png") no-repeat center; }

}
.list__item {
    width:64px;
    height:100%;   
    outline: 1px solid #e0e0e0;
}
