.production-items {
    display:flex;
    height:400px;
    width: 100%;
    justify-content: space-between;
    margin-top:60px;
}
.production-items__item {
    height: 100%;
    width:270px;
    border-radius: 5px;
    background: rgb(255, 255, 255); 
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.14);
}
.item__image {
    width:100%;
    height: 65%;
    background :url("../img/itm_bag.png") no-repeat ;
    background-position-x: center;
    background-position-y: 20px;
}
.item__text{
    width:100%;
    text-align: center;
}
.item__text-header {
    @include common-header(20px , $violet);
    margin-bottom: 10px;    
}
.item__text-desc {
    @include common-text(16px ,$common-text-colour);
    margin-top: 0;
}
.item__colours {
    input {
        display: none;
    }
    background: url("../img/item-line.svg") no-repeat;
    background-position : center top;
    display: flex;
    justify-content: left;
    margin : 10px 20px;
    padding-top : 10px;
}
.item-colours {
    display : block ; 
    width : 30px;
    height : 30px;
    border-radius : 10px;
    margin : 4px;
}
.big-circle {
    display : none;
}
input:checked + svg {
    .big-circle {
        display : block;
    }
}
.production-items__item:hover {
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.3);      
}