.adv-item {
    height: 100%;
    font-family: $commonB;
    text-transform: uppercase;
    font-size: 12px;
    color: $common-text-colour;
    width : 150px;
}
.mid-section__advantages-items {
    width:100%;
    height:154px;
    margin: auto 0;
    display: flex;
    justify-content: center;
}
.adv-item__img {
    background-repeat: no-repeat;
    background-size: contain;
    margin : 0 auto ;
    height: 50%;
    background-position-x: center;
    background-position-y: bottom;
}
.adv-item__img-1 {
    background-image:url("../img/first.svg");
}
.adv-item__img-2 {
    background-image:url("../img/second.svg");
}
.adv-item__img-3 { 
    background-image:url("../img/third.svg");
}
.adv-item__img-4 { 
    background-image:url("../img/fourth.svg");
}
.adv-item__img-5 { 
    background-image:url("../img/fivth.svg");
}
.adv-item__img-6 { 
    background-image:url("../img/sixth.svg");
}
.adv-item__text {
    text-align: center;
}