.type__property {
    flex-grow: 1;     
}
.property__buttons {
    margin-top: 20px;
}
.property__buttons > label {
    @include common-text(14px, $common-text-colour);
    margin-right:20px;
}
.property__buttons > label:before {
    //background-color: rgb(118, 75, 194);
    width: 20px;
    height: 20px;   
    border-style: solid;
    border-width: 2px;
    border-color: rgb(215, 215, 215);
    background-color: rgb(255, 255, 255);   
    color: rgb(255, 255, 255);
    content:'\2714';   
    margin-right:10px;
    padding-right: 4px;
    padding-left: 4px;
    transition: .2s;
}
input[type = checkbox]:checked + label:before {
    background-color: $violet;
}
.property__buttons > input {
    display: none;
}
.property__header {
    @include common-name(16px,$violet);
}