.arrow{
    width: 104px;
    height: 158px;
    margin-top: 384px;
    display: block;
}
.left{
    float: left;
    background: url("../img/leftarrow.png") no-repeat left center;
}
.right{
    float:right;
    background: url("../img/rightarrow.png") no-repeat left center;
}
.left:hover , .right:hover {
    filter: drop-shadow(10px 10px 12px red) saturate(5);
}