@import "top__header.scss";
@import "to__arrows.scss";
.top-section {
    width: 100%;
    height: 900px;
    background: radial-gradient(ellipse , #ffaa5e , #e3574e );
}
.top-section__image{
    width: 1200px;
    height: 900px;
    background: url("../img/logo.png") no-repeat center;
}
