.header-menu {
    float: left;
    li {
        display: block;
        float: right;
        margin-right:42px;
        margin-top: 42px;
    }
}
.header-menu__link {
    text-decoration: none;
    color:#ffc7bf;
    font-size: 19px;
    font-family: SFUIDisplay-Bold;
}
.current-page{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #764bc2;
    color: #764bc2;
}
.header-logo {
    background: url("../img/logotype.png") no-repeat center;
    width: 170px;
    height: 50px;
    margin: 0 auto;
    padding-top: 42px;
}
.header-opt {
    float: right;
    padding-top: 42px;
    p{
        font-size: 19px;
        font-family: SFUIDisplay-Bold;
        color:#ffc7bf;
        margin: 0;
    }
}